@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

main {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(121, 210, 94);
  padding-top: 1.5rem;
  position: relative;
}

body {
  background-color: rgb(121, 210, 94);
}

.scores-section {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  width: 60%;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  margin: auto;
}

.game-name {
  font-size: clamp(20px, 4vw, 42px);
  font-weight: 600;
  color: white;

  line-height: clamp(25px, 4vw, 46px);
  letter-spacing: 2px;
}

.scores-wrapper {
  display: flex;
  gap: 1rem;
}

.score-box {
  background-color: white;
  text-align: center;
  padding: 1rem 1rem 0 1rem;
  border-radius: 10px;
  flex: 1;
  width: 12vw;
}

.heading {
  font-weight: 600;

  font-size: clamp(14px, 1.4vw, 20px);

  text-align: center;
  letter-spacing: 1px;
  color: #656565;
}

.score-heading {
  font-weight: 700;

  font-size: clamp(14px, 1.4vw, 20px);
  text-align: center;
  letter-spacing: 1px;
  color: #656565;
}

.user-score,
.computer-score {
  font-weight: 700;

  font-size: clamp(20px, 5vw, 75px);

  line-height: clamp(25px, 6vw, 82px);
  letter-spacing: 1px;
  color: #252525;
}

.game-rules-container {
  position: absolute;
  width: 280px;

  border: 7px solid white;
  border-radius: 12px;
  background-color: #004429;
  right: 2vw;
  bottom: 15vh;
  z-index: 1000;
}

.cross-wrapper {
  width: 50px;
  height: 50px;
  background-color: red;
  padding: 8px;
  border-radius: 50%;
  border: 5px solid white;
  padding: 0.25rem;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -70%);
  cursor: pointer;
}
.cross-wrapper .cross {
  width: 100%;
  height: 100%;
}

.game-rules-container .game-rules-heading {
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 33.98px;
  letter-spacing: 1px;
  color: white;
  text-align: center;
  margin: 16px 0;
}

.game-rules-container .game-instructions {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 15px;
  margin: 0 16px 16px 32px;
}

.game-rules-container .game-instructions p {
  color: white;
}

ul li {
  list-style-type: square;
  color: yellow;
}

.triangle-shape {
  display: flex;
  justify-content: center;
  margin-top: 18vh;
}

.line1 {
  display: inline-block;

  width: clamp(80px, 40vw, 300px);
  height: 16px;
  background-color: #2c4c22;
  transform-origin: top right;
  transform: rotate(-120deg);
  position: relative;
  z-index: 1;
}
.line2 {
  display: inline-block;

  width: clamp(80px, 40vw, 300px);
  height: 16px;
  background-color: #2c4c22;
  position: relative;
}

.line3 {
  display: inline-block;

  width: clamp(80px, 40vw, 300px);
  height: 16px;
  background-color: #2c4c22;
  transform-origin: top left;
  transform: rotate(120deg);
  position: relative;
}

.paper-img {
  transform: rotate(120deg);
}

.rock-paper-absolute-class {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.scissors-absolute-class {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.scissors {
  border: 16px solid #bd00ff !important;
}

.rock {
  border: 16px solid #0074b6 !important;
}

.paper {
  border: 16px solid #ffa943 !important;
}

.circle {
  width: clamp(100px, 18vw, 180px);
  height: clamp(100px, 18vw, 180px);
  background-color: white;
  border-radius: 50%;
  padding: 1.5rem;
  color: transparent;
  z-index: 1;
  border: none;
  box-shadow: 3px 0px 21px 1px #00000033 inset;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.user-animation,
.pc-animation {
  z-index: 6;
  width: clamp(100px, 18vw, 180px);
  height: clamp(100px, 18vw, 180px);

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.user-animation button,
.pc-animation button {
  width: 100%;
  height: 100%;
  z-index: 10;
}

.user-animation span,
.pc-animation span {
  position: absolute;
  border-radius: 50%;
  animation: ripple 3s linear infinite;
  animation-delay: calc(-0.5s * var(--i));
  background-color: #2e9a25;
}

@keyframes ripple {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: clamp(200px, 30vw, 350px);
    height: clamp(200px, 30vw, 350px);
    opacity: 0;
  }
}

#user-picked img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1vw;
  width: 90%;

  padding: 1rem;
  margin: auto;
  position: fixed;
  bottom: 2.5vh;
  right: 4vh;
  z-index: 60;
}

.rules-btn,
.next-btn {
  width: 120px;
  height: 40px;
  font-weight: 600;
  font-size: 21px;
  line-height: 24px;
  color: #ffffff;
  background-color: transparent;
  letter-spacing: 1px;
  border: 2px solid white;
  border-radius: 10px;
  position: relative;
  z-index: 50;
  cursor: pointer;
}

.result-section {
  display: flex;
  width: 65%;
  margin: 14vh auto 0 auto;
}

.user-picked-wrapper {
  flex: 1;
  display: grid;
  place-content: center;
  gap: 40px;
}
.result-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2rem;
  gap: 1rem;
}
.pc-picked-wrapper {
  display: grid;
  place-content: center;
  gap: 40px;
  flex: 1;
}

.win-loss {
  font-weight: 800;

  font-size: clamp(24px, 3.25vw, 42px);

  line-height: clamp(25px, 2.5vw, 46px);
  color: #ffffff;
  letter-spacing: 1px;
  text-align: center;
}

.against-pc {
  font-weight: 800;

  font-size: clamp(20px, 2.25vw, 38px);

  line-height: clamp(20px, 3vw, 36px);
  color: #ffffff;
  letter-spacing: 1px;
  text-align: center;
}

.play-again-btn {
  width: 174px;
  height: 44px;
  font-weight: 600;
  font-size: 1rem;
  color: #6b6b6b;
  border-radius: 10px;
  letter-spacing: 1px;
  border: none;
  position: relative;
  z-index: 50;
}

.winner-wrapper {
  display: grid;
  place-content: center;
  text-align: center;
  height: 80vh;
  gap: 1rem;
}

.stars {
  width: 504px;
  height: 297px;
  background: url("assets/stars.svg") no-repeat;

  display: grid;
  justify-content: center;
  place-items: end;
}

.trophy {
  width: 200px;
  height: 200px;
}

.hurray {
  font-weight: 600;

  font-size: clamp(50px, 7vw, 90px);
  line-height: 106px;
  letter-spacing: 5px;
  color: #ffffff;
}

.won-the-game {
  font-family: 600;
  font-size: 41px;
  line-height: 48px;
  letter-spacing: 2px;
  color: #ffffff;
}

.winner-wrapper .play-again-btn {
  margin: 1.5rem auto;
  cursor: pointer;
}

.hide {
  display: none;
}

@media screen and (max-width: 800px) {
  main {
    padding-top: 0.5rem;
  }
  .scores-section {
    flex-direction: column;
    width: 100%;
  }
  .triangle-shape {
    width: 100vw;
  }

  .result-section {
    width: 90%;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    margin-top: 1rem;
  }

  .result-content {
    padding: 2rem;
  }

  .pc-picked-wrapper,
  .user-picked-wrapper {
    gap: 20px;
  }

  .circle {
    padding: 1rem;
  }

  .game-name {
    display: flex;
    gap: 1rem;
    justify-content: center;
    font-size: 16px;
    padding-bottom: 0.5rem;
  }

  .scores-wrapper {
    flex: 1;
  }

  .buttons {
    justify-content: space-between;
  }

  .play-again-btn {
    height: 30px;
  }

  .stars {
    width: 100%;
  }
  .trophy {
    width: 100px;
    height: 100px;
  }
}
